@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto';
        -webkit-tap-highlight-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        -webkit-appearance: none;
        display: none;
    }
}