<script>
	import { onMount } from 'svelte';

	export let top = 0;
	export let bottom = 0;
	export let left = 0;
	export let right = 0;

	export let steps = 100;

	let element;
	let percent;
	let observer;
	let unobserve = () => null;
	let intersectionObserverSupport = false;

	function intersectPercent(entries) {
		entries.forEach(entry => {
			// процент площади экрана, который занимает element
			percent = Math.round(Math.ceil(entry.intersectionRect.height / entry.rootBounds?.height * 100))
		});
	}

	function stepsToThreshold(steps) {
		return [...Array(steps).keys()].map(n => n / steps);
	}

	onMount(async () => {
		await new Promise(res => setTimeout(res, 100));
		intersectionObserverSupport =
			'IntersectionObserver' in window &&
			'IntersectionObserverEntry' in window &&
			'intersectionRatio' in window.IntersectionObserverEntry.prototype;

		const options = {
			rootMargin: `${top}px ${right}px ${bottom}px ${left}px`,
			threshold: stepsToThreshold(steps),
		};

		if (intersectionObserverSupport) {
			observer = new IntersectionObserver(intersectPercent, options);
			observer.observe(element);
			unobserve = () => observer.unobserve(element);
		}

		return unobserve;
	});
</script>

<div bind:this={element}>
	<slot {percent} {unobserve} />
</div>